.support-container {
  .support-container-info {
    .title-blue {
      margin-bottom: 0;
      width: 40%;
      background: linear-gradient(to top, #1c7ed6, #339af0);
    }

    .support-img {
      background-repeat: no-repeat;
      background-image: url("/assets/baum-uds/support.png");
    }
  }

  .support-container-content {
    display: flex;

    a {
      padding: 1rem;
    }

    .support-content {
      width: 50%;
      padding: 4rem 0 4rem 4rem;
      &:first-child {
        display: flex;
        align-items: center;
      }
    }
  }
}
