.application-form-container-info {
  background-color: #474f56;
  display: flex;

  h1 {
    color: #fff;
  }

  .application-form-content {
    width: 92%;
    margin: 0 auto;
  }

  .application-form-img {
    width: 33.33%;
    background-size: cover;
    background-position: 38%;
    background-repeat: no-repeat;
    background-image: url("/assets/form/application-form.png");
  }

  .application-form-info {
    width: 67.33%;
    padding: 5% 0;

    a {
      color: #000;
      font-size: 14px;
    }

    .application-form-content-info {
      display: flex;
      width: 100%;
    }
  }

  .application-form-submit-info {
    color: #fff;

    .application-form-checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      .MuiTypography-body1 {
        width: 100%;
      }
    }
  }

  .application-form-textfields {
    margin-right: 2rem;
    width: 100%;
  }

  .application-form-textfield {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;

    .MuiFormControl-root {
      width: 48%;
    }
  }

  .PrivateNotchedOutline-root-1 {
    border-radius: initial;
    outline: none;
    border: none;
  }
}
