.baum-inform-create-container {
  display: flex;

  .baum-inform-create-content {
    background: #000;
    color: #fff;
    width: 50%;
    padding: 5%;

    .main-info-link {
      color: #fff;
    }
  }

  .baum-inform-create-link {
    display: flex;
    align-items: center;

    a {
      margin-right: 0.5rem;
    }
  }
}
