.about-us-container {
  .about-us-container-info {
    .about-us-content {
      width: 85%;
      margin: 0 auto;
    }

    .about-us-img {
      background-image: url("/assets/about-us/about-us.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .about-us-links {
      display: flex;

      .about-us-link {
        &:first-child {
          margin-right: 1rem;
        }
      }
    }

    .about-us-info {
      padding-top: 0;

      a {
        color: #000;
        font-size: 14px;
      }
    }
  }

  .about-us-goal-container-info {
    h2 {
      text-transform: uppercase;
      color: #acacac;
    }

    .info-text {
      span {
        font-weight: bold;
        font-size: 1.5rem;
      }

      li {
        list-style-type: none;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;

        &:before {
          content: "— ";
        }

        &:first-child {
          margin-top: 1.5rem;
        }
      }
    }

    .about-us-goal-text {
      width: 85%;
      margin: 0 auto;
    }

    .about-us-goal-img {
      background: linear-gradient(to top, #0ca678, #20c997);
      position: relative;
      background-size: cover;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-image: url("/assets/about-us/laptop.png");
        background-repeat: no-repeat;
        text-align: center;
      }
    }

    .goal-link {
      width: 130px;
    }

    .about-us-goal-info {
      a {
        color: #000;
        font-size: 14px;
      }
    }
  }
}

.statistics-container-info {
  background-color: #e8f5ff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;

  .statistics-info {
    width: 100%;

    .statistics-column {
      display: flex;
      justify-content: space-evenly;
      padding-left: 2rem;
      padding-right: 2rem;
      flex-wrap: wrap;

      &:first-child {
        margin-bottom: 1.5rem;
      }

      .statistics-block-info {
        background-color: #fff;
        width: 22%;
        text-align: center;
        font-weight: bold;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          &:last-child {
            padding-bottom: 2rem;
          }
        }

        .statistics-digitals {
          font-size: 4rem;
          color: #6da2c7;
        }

        .MuiSvgIcon-root {
          font-size: 4rem;
          color: #6da2c7;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
