.main-container {
  .main-container-info {
    .main-feedback-content {
      background-color: #fedb55;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;

      .content-img {
        padding-bottom: 2.5rem;

        img {
          width: 497px;
        }
      }

      p {
        padding-bottom: 2.5rem;
        font-size: 1.8571rem;
      }
    }

    .main-feedback-img {
      background-image: url("/assets/main/handle.png");
    }
  }

  .shd-container-info {
    .shd-content {
      width: 85%;
      margin: 0 auto;
    }

    .main-shd-img {
      background: linear-gradient(to top, #0ca678, #20c997);
      position: relative;
      background-size: cover;

      &::before {
        content: "";
        position: absolute;
        background-size: 85%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-image: url("/assets/main/data.png");
        background-repeat: no-repeat;
        text-align: center;
      }
    }

    .shd-links {
      display: flex;

      .btn {
        width: 50%;

        span {
          font-size: 1.2rem;
        }

        &:first-child {
          margin-right: 1rem;
        }
      }
    }

    .shd-info {
      a {
        color: #000;
        font-size: 14px;
      }
    }
  }

  .store-info-about {
    display: flex;
    align-items: center;
    background-color: #193131;

    .store-info {
      color: #fff;
      width: 60%;

      .store-info-text {
        width: 85%;
        margin: 0 auto;
      }
    }

    .store-info-right {
      background-color: #192d2e;
    }
  }

  .ai-container-info {
    .ai-content {
      width: 85%;
      margin: 0 auto;
    }

    .main-ai-img {
      position: relative;
      background-size: cover;
      background: linear-gradient(to top, #339af0, #74c0fc);
      z-index: 1000;

      &::before {
        content: "";
        position: absolute;
        background-position: 50%;
        background-size: 70%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/main/robot.png");
        background-repeat: no-repeat;
        text-align: center;
      }
    }

    .ai-info {
      a {
        color: #000;
        font-size: 14px;
      }
    }
  }

  .main-community-container-info {
    .main-community-content-info {
      width: 85%;
      margin: 0 auto;
    }

    .main-community-img {
      position: relative;
      background-size: cover;
      background-image: url("/assets/main/background-community.png");
      z-index: 1000;

      &::before {
        content: "";
        position: absolute;
        background-position: 50% 100%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/main/img-community.png");
        background-repeat: no-repeat;
        text-align: center;
      }
    }

    .community-links {
      display: flex;

      .btn {
        &:first-child {
          margin-right: 2rem;
        }
      }
    }

    .questionnaire {
      display: flex;
      align-items: center;
      padding: 0 3.5rem;

      svg {
        margin-left: 0.8rem;
      }

      a {
        &:hover {
          color: #000;
        }
      }
    }
  }
}
