.team-container-info {
  .team-content {
    width: 85%;
    margin: 0 auto;
  }

  .team-img {
    background-color: #f0f2f3;
  }

  .team-info {
    &:last-child {
      padding: 12% 0;
    }

    a {
      color: #000;
      font-size: 14px;
    }

    .carousel-content {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      .carousel-gallery {
        margin: 0 1rem;
        width: 45%;
        text-align: center;

        img {
          width: 100%;
          min-height: 385px;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }

  .team-info-phone {
    padding: 4rem 2rem;
    display: none;
    &:last-child {
      padding: 12% 0;
    }

    a {
      color: #000;
      font-size: 14px;
    }

    .carousel-content {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      .carousel-gallery {
        margin: 0 1rem;
        width: 70%;
        text-align: center;

        img {
          width: 100%;
          height: 366px;
          object-fit: cover;
        }
      }
    }
  }

  .team-gallery {
    display: flex;
    justify-content: center;
    width: 100%;

    .team-gallery-items {
      text-align: center;
      margin-left: 2rem;
      margin-right: 2rem;

      p {
        font-size: 1.2rem;
      }
    }
  }

  .MuiIconButton-root {
    color: #000;
  }

  .gallery-slider {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .arrow-left {
      transform: rotate(180deg);
    }

    .MuiSlider-root {
      color: #000;
    }
  }
}
