.team-container {
  .team-container-info {
    .title-purple {
      margin-bottom: 0;
      width: 40%;
      background: linear-gradient(to top, #5f3dc4, #7048e8);
    }

    .team-img-title {
      background-repeat: no-repeat;
      background-image: url("/assets/news/news.png");
    }
  }
}
