.software-container {
  .software-container-info {
    .title {
      margin-bottom: 0;
      width: 40%;
      background: #000;
      padding-left: 10px;
      padding-right: 10px;
    }

    .software-img {
      background-repeat: no-repeat;
      background-image: url("/assets/baum-uds/baum-uds.png");
    }
  }
}