header {
  position: relative;
    z-index: 100;
    
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-left: 1px solid #eff1f4;
    border-right: 1px solid #eff1f4;
    border-bottom: 1px solid #eff1f4;

    .MuiPopover-paper {
      outline: 0;
      position: absolute;
      max-width: calc(19% - 32px);
      max-height: calc(100% - 32px);
      overflow-x: hidden;
      overflow-y: auto;
    }

    li {
      list-style-type: none;
      padding: 0.5rem;

      a {
        text-decoration: none !important;
        font-size: 0.9rem;
        color: black;
        white-space: nowrap;
      }
    }

    .navbar-content {
      align-items: center;
      width: 85%;
      border-left: 1px solid #eff1f4;
      padding-top: 0.3rem;
    }

    .img {
      width: 15%;
      text-align: center;

      img {
        max-width: 250px;
        width: 85%;
        margin: 0 auto;
      }
    }

    .navbar-menu-top {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-bottom: 1px solid #eff1f4;
      padding-bottom: 0.3rem;

      li {
        padding: 0.5rem 1rem;

        a {
          color: #bababa;
          font-size: 1rem;
        }
      }
    }

    .navbar-menu-bottom {
      display: flex;
      justify-content: space-between;
      flex-basis: auto;

      .navbar-menu-bottom-links {
        display: flex;
        align-items: center;

        .submenu {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .MuiButtonBase-root {
            span {
              font-size: 1rem;
              padding-right: 0.5rem;
              
              &:hover {
                color: #097a80;
              }
            }
          }

          .MuiButton-root {
            padding: 0;
          }

          button {
            text-transform: none;
          }

          .btn-padding {
            span {
              padding-right: 1rem;
            }
          }

          .button {
            color: #000;
          }

          .button-active {
            color: #097a80;
          }

          .MuiButton-root {
            &:hover,
            &:focus {
              text-decoration: none;
              background-color: #fff;
            }

            .MuiButton-endIcon {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .MuiMenu-paper {
    display: flex;
    justify-content: center;
    width: 260px;
  }

  .MuiList-padding {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .navbar-form-search {
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 1px solid #eff1f4;

    .MuiOutlinedInput-input {
      padding: 0px 14px;
    }

    .MuiOutlinedInput-input {
      width: 37vw;
      font-size: 14px;
      font-weight: bold;
    }

    .MuiOutlinedInput-notchedOutline {
      border-radius: 0px;
      border-top: 0;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
    }
  }

  .navbar-phone {
    display: none;

    .navbar-content-phone {
      flex-direction: column;
      flex-basis: 100%;
      flex-grow: 1;
      background-color: #fff;
      padding: 2rem;

      .MuiFormControl-root {
        width: 100%;
      }

      .navbar-form-search {
        border: 1px solid #eff1f4;
        width: 90%;
      }

      li {
        list-style-type: none;
        padding-bottom: 0.5rem;

        & > a {
          padding-left: 2rem;
        }
      }

      a {
        color: #000;
      }
    }
  }

  @media (max-width: 1450px) {
    .navbar-content {
      .navbar-menu-bottom {
        .navbar-form-search {
          width: 39%;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .navbar {
      display: none;
    }

    .navbar-phone {
      display: block;
      background-color: #fff;

      .navbar-phone-icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
      }
    }

    .icon-menu {
      display: block;
    }

    .MuiSvgIcon-root {
      font-size: 3rem;
    }
  }

  @media (max-width: 695px) {
    .navbar-phone {
      .navbar-content-phone {
        .navbar-form-search {
          width: 100%;
        }

        a {
          font-size: 1.3rem;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .navbar-phone {
      .navbar-phone-icons {
        img {
          width: 90%;
        }
      }
    }
  }
}
