.form-container-info {
  width: 95vw;
  margin: 0 auto;
  background-color: #474f56;

  h3 {
    font-size: 1.9rem;
    color: #fff;
  }

  .form-container-message-success {
    color: #fff;
    padding: 8rem;
    margin-bottom: 0;
  }

  .form-content {
    width: 85%;
    margin: 0 auto;
  }

  .form-img {
    background-color: #fff;
    background-image: url("/assets/form/form1.png");
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;

    .img {
      position: relative;
      display: flex;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        background-position: 17%;
        top: 45px;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/form/lineLong.png");
        background-repeat: no-repeat;
        text-align: center;
      }

      &::after {
        content: "";
        position: absolute;
        background-position: 92%;
        top: -45px;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/form/lineShot.png");
        background-repeat: no-repeat;
        text-align: center;
      }
    }

    img {
      width: 85%;
    }
  }

  .form-info {
    a {
      color: #000;
      font-size: 14px;
    }
  }

  .form-submit-info {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 2%;

    .MuiButton-outlined {
      border: 1px solid #fff;
      color: #fff;
      padding: 0.5rem 2rem;
      text-transform: capitalize;
    }

    .MuiFormControlLabel-root {
      display: block;
      margin-left: 0;
    }

    .form-checkbox {
      margin-bottom: 2rem;
    }

    .form-btn {
      display: flex;
      justify-content: baseline;
    }
  }

  .textfield {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    width: 100%;

    .MuiFormControl-root {
      width: 48%;
    }
  }

  textarea {
    padding: 3%;
    resize: none;
    outline: none;
    font-size: 1.25rem;
  }

  .MuiOutlinedInput-input {
    background-color: #fff;
    border-radius: 0;
  }

  .PrivateNotchedOutline-root-1 {
    border-radius: initial;
    outline: none;
    border: none;
  }

  .form-content-button {
    display: flex;
    justify-content: center;

    button {
      padding: 0.5rem 4rem;
    }
  }

  .fields-change {
    display: flex;
    align-items: flex-end;
    padding: 2rem 0;
    justify-content: space-between;

    .MuiFormControl-root {
      width: 100%;
    }
  }

  @media (max-width: 695px) {
    .form-btn {
      .btn {
        width: 100%;
      }
    }
  }
}
