.news-container {
  font-family: "Roboto",sans-serif;

  .news-container-info {
    .title-purple {
      margin-bottom: 0;
      width: 40%;
      background: linear-gradient(to top, #5f3dc4, #7048e8);
    }

    .news-img {
      background-repeat: no-repeat;
      background-image: url("/assets/news/news.png");
    }
  }
}

.news-years-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;

  h1 {
    margin: 0;
    font-family: "Roboto",sans-serif;
  }

  .new-years-nav {
    display: flex;
    align-items: center;

    .MuiButton-root {
      padding: 0;
    }

    p {
      font-family: "Roboto",sans-serif;
      font-size: 1.25rem;
      font-weight: bold;
    }

    .new-year-btn-underline {
      font-weight: bold;
      border-bottom: 2px solid #000;
      font-size: 1.6rem;
    }
  }

  .MuiButtonBase-root span {
    font-size: 1.25rem;
  }
}

.news-container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  h3 {
    font-family: "Roboto",sans-serif;
    font-size: 1.625rem;
    min-height: 90px;
    height: 100%;
    margin-bottom: 1rem;
  }

  p {
    font-family: "Roboto",sans-serif;
    height: 75px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .MuiButton-text {
    span {
      font-size: 1.25rem;
      color: #9a9a9a;
    }
  }

  .MuiCardActions-root {
    padding: 16px 8px;
  }

  .card {
    background-color: #fff;
    width: 32.5%;
    margin-bottom: 1%;
  }

  .btn-background-none {
    padding: 0.8rem 0.6rem;
  }
}

.css-1oj2twp-MuiPagination-root {
  background-color: #e7f5ff;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 2rem 0;
}

.news-details-container {
  margin: 0 auto;

  .news-details-info {
    display: flex;
    margin: 0 auto;
    padding-bottom: 2rem;

    .news-details-img {
      height: 550px;
      width: 750px;
      padding: 0 2rem 0 0;
      object-fit: cover;
      float: left;
    }

    .news-details-about {
      margin-top: 2rem;
      padding: 0;

      p,
      ol {
        font-family: "Roboto",sans-serif;
        padding-bottom: 1rem;
      }

      .textLink {
        color:#394bad;
        text-decoration: underline;
      }
    }
  }
}
